<h2>Edit joke</h2>

<%= form_with model: @joke, local: true do |form|%>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

    <p>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </p>

    <p>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </p>

  <p>
    <%= form.submit "Edit a joke" %>
  </p>
<% end %>
