<h2>All jokes</h2>

<br>
<div><%= link_to "Add a joke", new_joke_path() %></div>
<br>
<% @jokes.each do |joke| %>

    <div>Name : <%= joke.name %></div>
    <div>Content : <%= joke.content %></div>
    <div>Published by : <%= joke.author %></div>
    <div><%= link_to "See a joke", joke_path(joke) %></div>
    <div><%= link_to "Edit a joke", edit_joke_path(joke) %></div>
    <div><%= link_to "Delete a joke", joke_path(joke), method: :delete %></div>
    <hr>
<% end %>
